header {
    background-image: url("../images/header.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-position: center center;
}

.Logout {
    float: left;
    margin-top:  0.1%;
    margin-left: 5.3%;
}

.logout-button {
    float: right;
    background-color: #3C2A21;
    color: white;
    padding: 18% 72%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #706233;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Lora', serif;
    position: absolute;
    height:100%;
    margin: 0;
    overflow-y: auto; 
    overflow-x: hidden;
    flex-direction: column;
}

body::before {
    content: "";
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.content {
    width: 50%;
}

.left-container button {
    margin-bottom: 10px;
    margin: 50px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: initial;
    border-bottom: 2px solid wheat;
    top:0;
}

.left-container button:hover {
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 2px;
}

.left-container{
    position: fixed;
    top: 0;
    width: 13.2%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 4.8%;
    z-index: 1;
    text-align: center;
    left: 0;
    background-color: #3C2A21;
}

.container{
    left: 32%;
    padding: 40px;
    background-color: rgba(250, 235, 215, 0.5);
    width: 86.3%;
    right: 0;
    position: absolute;
    margin-top: 8%;
    min-height: 70%;
    max-width: 50%;
    box-sizing: border-box;
    border:#3C2A21 solid 4px;
}

.payment-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative; 
    top: 20%; 
    left: 50%;
    margin-top:5%;
    transform: translateX(-50%);
    max-width: 100%;
}

.account-number {
    margin-top: 10px; 
    text-align: center;
    display:none;
}

.account-number label {
    font-weight: bold;
    border: none; 
    box-shadow: none;   
}

.account-number input {
    width: calc(100% - px); 
    padding: 5px;
    box-sizing: border-box;
    display: block;
    border: none; 
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    margin-top: 5px; 
    border: 2px solid #3C2A21;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:10px;
}

.account-number input:focus {
    outline: none;
    background-color: #fff; 
}

input:checked + .account-number {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    position: relative;
    left: 33%;
    transform: translateX(-50%);
}

button[type="submit"] {
    background-color: #9A3B3B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2%;
    cursor: pointer;
    margin-top: 10%;
    width: 80%;
    font-size: 95%;
    margin-left: 5%;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #842E2E;
    color: #fff;  
}

.payment-option {
    display:flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-basis: calc(50% - 180px);
}

.payment-option label{
    margin-right:10px;
}

.payment-info img {
    width: 100px;
    height: 20%;
    margin-left: 3%;
    margin-top: 8px;
}

.account-number {
    display: none; 
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left:5px;
    margin-right:5px;
}