<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/edit_product.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>

    <header>
        <div class="Logout">
            <form action="{{ url_for('add_product.logout') }}" method="post">
                <button class="logout-button">LOGOUT</button>
            </form>
        </div>
    </header>

    <div class="left-container">
        <button onclick="window.location.href='/homepage_seller'" style="color: burlywood; font-size: 16px;">HOMEPAGE</button>
        {% set url = url_for('seller_orders.unpaid_orders') %}
        <button onclick="window.location.href='{{ url }}'" style="color: white; font-size: 16px;">ORDERS</button>
        <button onclick="window.location.href='/add_product'" style="color: white; font-size: 16px;">ADD PRODUCT</button>
        <button onclick="window.location.href='/payment_options'" style="color: white; font-size: 16px;">PAYMENT OPTIONS</button>
    </div>

    <form method="post" action="{{ url_for('homepage_seller.edit_product', product_id=product['ProductID']) }}" enctype="multipart/form-data">
<div class="right-container">
    <div class="pi-container">
        <div class="product-container"> 
            <h1>EDIT PRODUCT</h1>   
            <div class="product-details">
                <div class="row">
                    <div class="col1">
                        <label for="product_name">Product Name:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="product_name" name="product_name" value="{{ product['Product_Name'] }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="weight">Weight:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="weight" name="weight" value="{{ product['Weight'] }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="packaging_length">Packaging Length:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="packaging_length" name="packaging_length" value="{{ product['Packaging_Length'] }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="packaging_width">Packaging Width:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="packaging_width" name="packaging_width" value="{{ product['Packaging_Width'] }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="packaging_height">Packaging Height:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="packaging_height" name="packaging_height" value="{{ product['Packaging_Height'] }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="shipping_fee">Shipping Fee:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="shipping_fee" name="shipping_fee" value="{{ product['Shipping_Fee'] }}" readonly>
                    </div>
                </div>
            </div>
                <button type="button" class="button1" onclick="addNewVariation()">Add New Variation</button>
                <input type="submit" value="Update Product">
        </div>

        <div class="image-box">
            <label for="image_filename">Image Filename:</label>
            <input type="file" id="image_filename" name="Image" accept="image/*">
            <div id="previewContainer">
                <img id="imagePreview" src="{{ url_for('static', filename='images/products/' + product['ImageFilename']) }}" alt="Image Preview">
            </div>
        </div>
    </div>
    <div class="outer-container">
    <h2>Variations</h2>
        {% for variation in variations %}
            <div class="existing-variations-container">
                <input type="hidden" name="existing_variations[]" value="{{ variation['VariationID'] }}">
                <div class="row">
                    <div class="col1">
                        <label for="unit">Unit:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="unit" name="unit[]" value="{{ variation['Unit'] }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="price">Price:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="price" name="price[]" value="{{ variation['Price'] }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="quantity">Quantity:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="quantity" name="quantity[]" value="{{ variation['Quantity'] }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="delete_variation"></label>
                    </div>
                    <div class="col2">
                        <input type="hidden" name="delete_variation[]" value="{{ variation['VariationID'] }}">
                        <button type="submit" class="delete-variation-button" name="delete_variation_button_{{ variation['VariationID'] }}">Delete</button>
                    </div>
                </div>         
            </div>
        {% endfor %}
            <div id="new-variation-container"></div>
    </div>
</div>
    </form>
    <script>
         function previewImage() {
                    var preview = document.getElementById('imagePreview');
                    var input = document.getElementById('image_filename');
                    var file = input.files[0];
                    var reader = new FileReader();
           
                    reader.onloadend = function () {
                        preview.src = reader.result;
                    }
           
                    if (file) {
                        reader.readAsDataURL(file);
                    } else {
                        preview.src = "";
                    }
                }
                var imageInput = document.getElementById('image_filename');
                imageInput.addEventListener('change', previewImage);

        function addNewVariation() {
            var container = document.getElementById('new-variation-container');
            var div = document.createElement('div');
           
            div.innerHTML = `
            <div class="new-variation-container">
                <div class="row">
                    <div class="col1">
                        <label for="new_unit">Unit:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="new_unit" name="new_unit[]">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="new_price">Price:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="new_price" name="new_price[]">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label for="new_quantity">Quantity:</label>
                    </div>
                    <div class="col2">
                        <input type="text" id="new_quantity" name="new_quantity[]">
                    </div>
                </div>
            </div>
            `;
           
            container.appendChild(div);
        }

        function calculateShippingFee() {
            var weightInput = document.getElementsByName("weight")[0];
            var lengthInput = document.getElementsByName("packaging_length")[0];
            var widthInput = document.getElementsByName("packaging_width")[0];
            var heightInput = document.getElementsByName("packaging_height")[0];

            var weight = parseFloat(weightInput.value) || 0;
            var length = parseFloat(lengthInput.value) || 0;
            var width = parseFloat(widthInput.value) || 0;
            var height = parseFloat(heightInput.value) || 0;

            var volumetricWeight = (length * width * height) / 5000;
            var actualWeight = weight;
            var shippingFee = Math.max(actualWeight, volumetricWeight) * 50;

            document.getElementById("shipping_fee").value = shippingFee.toFixed(2);
        }

        document.getElementsByName("weight")[0].addEventListener("input", calculateShippingFee);
        document.getElementsByName("packaging_length")[0].addEventListener("input", calculateShippingFee);
        document.getElementsByName("packaging_width")[0].addEventListener("input", calculateShippingFee);
        document.getElementsByName("packaging_height")[0].addEventListener("input", calculateShippingFee);

        window.onload = calculateShippingFee;
    </script>
</body>
</html>