<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage_seller.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <header>
        <div class="Logout">
            <form action="{{ url_for('homepage_seller.logout') }}" method="post">
                <button class="logout-button">LOGOUT</button>
            </form>
        </div>
    </header>
    <div class="left-container">
        <button onclick="window.location.href='/homepage_seller'" style="color: burlywood; font-size: 16px;">HOMEPAGE</button>
        {% set url = url_for('seller_orders.unpaid_orders') %}
        <button onclick="window.location.href='{{ url }}'" style="color: white; font-size: 16px;">ORDERS</button>
        <button onclick="window.location.href='/add_product'" style="color: white; font-size: 16px;">ADD PRODUCT</button>
        <button onclick="window.location.href='/payment_options'" style="color: white; font-size: 16px;">PAYMENT OPTIONS</button>
    </div>
   
    <div class="products-container">
        {% for product in products %}
            <div class="product-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/products/' + product['ImageFilename']) }}" alt="Product Image" width="200" height="200">
                </div>
                <p>{{ product['Product_Name'] }}</p>
                <div class="button-container">
                    <form action="{{ url_for('homepage_seller.edit_product', product_id=product['ProductID']) }}" method="get">
                        <button type="submit" class="edit-button">Edit</button>
                    </form>
               
                    <form action="{{ url_for('homepage_seller.delete_product', product_id=product['ProductID']) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this product?');">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
    </html>