<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>LocaLister</title>
</head>
<body>
    <header></header>
    <div class="content">
        <div class="logo"></div>
    </div>
    <div class="container">
        <div class="box">
            <div class="button-container">
                <a href="/select_role" class="button">SIGN UP</a>
                <a href="/login" class="button">LOGIN</a>
            </div>
        </div>
    </div>
</body>
</html>